/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper */
/*img {
    display: block;
    width: 100%;
    height: auto;
}*/

/*Here's where you would put your Google Fonts import*/

@import url ('https://fonts.googleapis.com/css?family=Monoton|Roboto:300,400,500,700');

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: black;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-top: 400px;
  margin-bottom: -70px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 600;
  /*padding-top: 20px;*/
  margin-top: 20px;
  margin-bottom: 7px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1;

}

h4 {
  font-family: 'Monoton', cursive;
  font-size: 200px;
  text-align: left;
  color: white;
  padding-top: 90px;

}


p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 20px;
  letter-spacing: 1;
  line-height: 1.8;


}

@media only screen and (max-width: 500px) {
  h1 { font-size: 75px;
    text-align: center;
    padding-top: 400px;
    margin-bottom: -300px;
  }

  p {
    flex-flow: column nowrap;
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .full {
    width: 100%;}

  h2 { padding-left: 20px;
    font-size: 30px;}

  h3 {
    padding-left: 20px;}

  h4 {
    font-family: 'Monoton', cursive;
    font-size: 200px;

  }

}

#willis {
margin-top: 30px;}
#downarrow {
margin-bottom: -25px;
}

.content-band {
  width: 100%;
}

.live-area {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}




.full {
  width: 70%;
  margin: 0 auto;
  background-color: white;

}


@media only screen and (max-width: 500px) {
  .live-area {
    flex-flow: column nowrap;
  }
  .full {
    width: 100%;
  }

  #header {
    max-width: 100%;
    height:700px;
    background-position: center;
    background-size: cover;
}
}



#title {
  padding-top: 85%;

}


#header {

  min-height: 90%;
  background: url("../gif.gif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}




.fulldate {
    width: 100%
    margin: 0 auto;
    height: 300px;
    /* background-image: url("../giphy (2).gif"); */
    background-image: url("../6.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 70px;
    margin-top: -190px;
}


.fulldate82 {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background-image: url("../2.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-bottom: 70px;
    margin-top: -190px;
    background-size: cover;
}

.fulldate81 {
    width: 100%
    margin: 0 auto;
    height: 300px;
    background-image: url("../smiths.png");
    background-attachment: fixed;
    margin-bottom: 70px;
    margin-top: -220px;
    background-repeat: no-repeat;
    background-size: cover;

}


.fulldate83 {
    width: 100%
    margin: 0 auto;
    height: 300px;
    background-image: url("../1983.png");
    background-attachment: fixed;
    margin-bottom: 70px;
    margin-top: -220px;
    background-repeat: no-repeat;
    background-size: cover;

}

.fulldate84 {
    width: 100%
    margin: 0 auto;
    height: 300px;
    background-image: url("../84.png");
    background-attachment: fixed;
    margin-bottom: 70px;
    margin-top: -220px;
    background-repeat: no-repeat;
    background-size: cover;

}

.fulldate85 {
    width: 100%
    margin: 0 auto;
    height: 300px;
    background-image: url("../85.png");
    background-attachment: fixed;
    margin-bottom: 70px;
    margin-top: -220px;
    background-repeat: no-repeat;
    background-size: cover;

}


@media only screen and (max-width: 600px) {
  .fulldate {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
  }
  .fulldate81 {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 0;
  }
  .fulldate82 { width: 100%;
  background-size: cover;
  background-attachment:scroll;
  margin-bottom: 0;

  }
}


.half {
    /*float:right;*/
    width: 400px;
    /*height: 400px;*/
    text-align: left;
    margin-right: 50px;
    /*margin-top: -40px;*/
    padding-bottom: 2em;
    padding-left: 20px; }


.halfphoto {
    /*float:left;*/
    max-width: 500px;
    /*max-height: 400px;*/
    /*margin-bottom: 50px;*/ }


.half2 {
    text-align: left;
    width: 400px;
    /*height:400px;*/
    margin-left: 20px;
    padding-bottom: 2em;}



.halfphoto2 {
    width: 500px;
    order: 1;
       }

@media only screen and (max-width: 500px) {
.half {
  width: 400px;
  margin-right: 50px;
  /*margin-top: -40px;*/
  padding-bottom: 2em;
  order: 1; }

.halfphoto {
    max-width: 500px;
    padding: 0;
    order: 2;}
  }

  .slide-right.element-in {
  	-webkit-animation: slide-right 25s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
  	        animation: slide-right 25s cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s both;
  }

  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(3000px);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(100px);
              transform: translateX(3000px);
    }
  }


/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}
@media
/* ==========================================================================
   Helper classes
   ========================================================================== */
/* Use this clearfix class on the parent of floated elements to clear the float! */





.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
