/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
/*This is some further normalization and base styles. */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Responsive images base, put your images in a wrapper
img {
    display: block;
    width: 100%;
    height: auto;
}

/*Here's where you would put your Google Fonts import*/

@import url ('https://fonts.googleapis.com/css?family=Monoton|Roboto:300,400,500,700');

/* BOX MODEL SETTING FOR ALL ELEMENTS BY DEFAULT
THIS IS BETTER THAN DEFAULT, YOU SHOULD ALWAYS USE THIS:
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/* END BOX MODEL SETTINGS */

body {
  font-size: 16px; /* Base Size */
  /*Setting the base font family*/
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  color: black;
}

h1 {
  font-family: 'Monoton', cursive;
  font-size: 200px;
  margin: 0 auto;
  text-align: center;
  color: white;

}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px;
  letter-spacing: 1;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: -10px;
  letter-spacing: 1;

}

h4 {
  font-family: 'Monoton', cursive;
  font-size: 200px;
  text-align: left;
  color: white;

}


p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 20px;
  letter-spacing: 1;
  line-height: 1.8;
  margin-top: -10px;

}

.content-band {
  width: 100%;
  max-height: 1000px;
}

.live-area {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.full {
  width: 100%;
  margin: 0 auto;
}

#title {
  padding-top: 390px;
}
#header {
  background-image: image("1.jpg");
  max-height: 600px;
}

.fulldate {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    background-color: black;
    margin-bottom: 75px;
    margin-top: -220px;
}

.half {
    float:right;
    width: 400px;
    height: 400px;
    text-align: left;
    margin-right: 50px;

}

.halfphoto {

    float:left;
    width: 500px;
    height: 400px;
    background-color: black;
    margin-bottom: 50px;
}


.half2 {
    text-align: left;
    width: 400px;
    height:400px
    margin-left: 20px;

}

#half2 {
      padding-top: 75px;

}

.halfphoto2 {
    float: right;
    width: 500px;
    height: 400px;
    background-color: red;
    margin-top: -405px;


  }


/*Here's a sample media query for you. This one is for desktop styles.*/
/*@media only screen and (min-width: 960px) {

}
@media
/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Use this clearfix class on the parent of floated elements to clear the float! */




.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
